@import "@/assets/css/vars.scss";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  min-height: 100%;

  overflow: hidden;
}

body {
  min-height: 100%;

  font-size: 14px;
  font-family: "Gilroy", sans-serif;

  color: $text-color-1;
  background-color: $color-4;
}
